$color-light: #fff;
$color-dark: #222f3e;
$color-background: #c8d6e5;
$color-primary: #ff9f43;
$color-secondary: #218c74;
$color-success: #01916d;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element}, &::#{$element} {
    position: absolute;
    @content;
  }
}
