@import '../../../styles/settings.scss';

.component {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  &.left {
    left: 0;
    width: 300px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
